[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
flake8-bugbear = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
flake8-eradicate = "*"
flake8-html = "*"
flake8-print = "*"
isort = "*"
mccabe = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-socket = "*"
pytest-sugar = "*"
yapf = "*"

[requires]
python_version = "3.7"
